.posts {
  display: flex;
  flex-wrap: wrap;
}

.post-container {
  display: flex;
  flex-direction: column;

  flex-basis: 100%;

  border: 1px solid navy;
  border-radius: 8px;

  padding: 8px;
  margin-bottom: 16px;

  overflow: hidden;
}

.post-container > small {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
